# Google PageSpeed Insights API key
# Get one at: https://console.cloud.google.com/apis/credentials
# Enable: https://console.cloud.google.com/apis/library/pagespeedonline.googleapis.com
PSI_API_KEY=
